<app-center-page>
	<form [formGroup]="loginForm" (ngSubmit)="login()">
		<h3>Log in to Simply <mat-icon color="accent">task_alt</mat-icon></h3>

		@if (loginError() !== AuthenticationErrors.None) {
			<app-error-message
				[errorMessage]="loginError()"
				[form]="loginForm"
				(closed)="resetError()"
			></app-error-message>
		}
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input type="text" matInput formControlName="email" #emailInput />
			@if (loginForm.get('email')?.hasError('required')) {
				<mat-error>Fill in your email</mat-error>
			}
			@if (loginForm.get('email')?.hasError('email')) {
				<mat-error>Fill in a valid email</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input type="password" matInput formControlName="password" />
			@if (loginForm.get('password')?.hasError('required')) {
				<mat-error>Fill in your password</mat-error>
			}
		</mat-form-field>

		<button class="login__button" type="submit" mat-flat-button color="primary">
			Log in
		</button>
	</form>
</app-center-page>
