<simply-center-page>
	<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
		<h2 class="sign-up__text">
			Sign up to Simply <mat-icon color="accent">task_alt</mat-icon>
		</h2>

		@if (signupError() !== AuthenticationMessages.None) {
			<app-error-message
				simplySpaceContent="large"
				[errorMessage]="signupError()"
				[form]="signUpForm"
				(closed)="resetError()"
			></app-error-message>
		}

		<mat-form-field simplySpaceContent="regular">
			<mat-label>Email</mat-label>
			<input type="text" matInput formControlName="email" simplyFocusInput />
			@if (signUpForm.get('email')?.hasError('required')) {
				<mat-error>Fill in your email</mat-error>
			}
			@if (signUpForm.get('email')?.hasError('email')) {
				<mat-error>Fill in a valid email</mat-error>
			}
		</mat-form-field>

		@if (!continue()) {
			<button
				type="button"
				class="sign-up__button"
				mat-flat-button
				color="primary"
				simplySpaceContent="regular"
				(click)="setContinue()"
			>
				Continue
			</button>
		}

		@if (continue()) {
			<mat-divider simplySpaceContent="regular"></mat-divider>
			<h3 class="sign-up__text">Make a new password</h3>
			<simply-new-password
				formControlName="password"
				[markAsTouched]="invalidSubmit()"
				(isSubmitted)="signUp()"
			></simply-new-password>

			<button
				type="submit"
				class="sign-up__button"
				mat-flat-button
				color="primary"
			>
				Sign up
			</button>
		}
	</form>
</simply-center-page>
