<simply-center-page>
	<form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
		<h2>Sign up to Simply <mat-icon color="accent">task_alt</mat-icon></h2>

		@if (signupError() !== AuthenticationMessages.None) {
			<simply-message
				simplySpaceContent="large"
				[errorMessage]="signupError()"
				[form]="emailForm"
				(onClose)="resetError()"
			></simply-message>
		}

		<mat-form-field simplySpaceContent="regular">
			<mat-label>Email</mat-label>
			<input type="text" matInput formControlName="email" simplyFocusInput />
			@if (emailForm.get('email')?.hasError('required')) {
				<mat-error>Fill in your email</mat-error>
			}
			@if (emailForm.get('email')?.hasError('email')) {
				<mat-error>Fill in a valid email</mat-error>
			}
		</mat-form-field>

		@if (!continue()) {
			<button
				type="submit"
				mat-flat-button
				color="primary"
				simplySpaceContent="regular"
			>
				Continue
			</button>
		}
	</form>

	@if (continue()) {
		<mat-divider simplySpaceContent="regular"></mat-divider>
		<simply-new-password
			(isSubmitted)="signUp($event)"
			newPasswordSubmitAction="Sign up"
		></simply-new-password>
	}
</simply-center-page>
