@use 'base/layout' as l;

@mixin simply-dialog {
	.simply-dialog {
		.mat-mdc-dialog-title {
			margin-bottom: l.space('regular');
		}
		.mat-mdc-dialog-actions {
			padding: 0 24px 24px;
			gap: l.space('regular');
		}

		&__left-align-wrapper {
			display: flex;
			justify-content: flex-start;
			flex: 1 1 auto;
		}
	}
}
