@use 'sass:map';
@use '@angular/material/index' as mat;

@mixin message-color($theme) {
	$color: mat.get-theme-color($theme, warn);
	.error-message {
		&__container {
			border-color: $color;
		}
		&__text {
			color: $color;
		}
	}
}
