@use 'sass:map';
@use '@angular/material' as mat;

@mixin menu-dropdown($theme) {
	$background: mat.get-theme-color($theme, background, dialog);
	$text: mat.get-theme-color($theme, foreground, text);
	.menu-dropdown {
		&__container {
			background-color: $background;
		}
	}
}
