@use '@angular/material/index' as mat;

@mixin message-theme($theme) {
	@include message-color($theme);
}

@mixin message-color($theme) {
	$warn: mat.get-theme-color($theme, warn);
	.message {
		&__container {
			border-color: $warn;
		}
		&__text {
			color: $warn;
		}
	}
}
