@use '@angular/material' as mat;

@use 'base/colors';
@use 'global';

@mixin panel-theme($theme) {
	@include panel-color($theme);
	@include panel-typography($theme);
	@include panel-density($theme);
}

@mixin panel-color($theme) {
	$background: mat.get-theme-color($theme, background, dialog);
	$type: mat.get-theme-type($theme);

	$simply-primary: mat.get-theme-color($theme, primary, default);
	$simply-text: if($type == dark, colors.$simply-off-white, $simply-primary);

	$simply-hover: mat.get-theme-color($theme, background, hover);
	.panel {
		&__container {
			background-color: $background;
		}
		&__button {
			background-color: transparent;
			color: $simply-text;
		}
		&__button:hover {
			background-color: $simply-hover;
		}
	}
}

@mixin panel-typography($theme) {
	$font: mat.get-theme-typography($theme, subtitle-1);
	.panel {
		&__button {
			font: $font;
		}
	}
}

@mixin panel-density($theme) {
	$density: mat.get-theme-density($theme);

	.panel {
		&__container,
		&__button {
			border-radius: global.radius('regular');
		}
		&__icon {
			margin-right: global.space('regular');
		}
	}

	@if $density < 0 {
		.panel {
			&__button {
				padding: global.space('small');
			}
			&__content {
				padding: global.space('small');
			}
		}
	} @else {
		.panel {
			&__button {
				padding: global.space('regular');
			}
			&__content {
				padding: global.space('regular');
			}
		}
	}
}
