@use '@angular/material' as mat;
@use '../global/get-layout' as l;

@mixin simply-scrollbar-theme($theme) {
	.simply-scrollbar {
		::-webkit-scrollbar-track {
			-webkit-box-shadow: none;
			background-color: transparent;
		}
		::-webkit-scrollbar {
			width: l.space('small');
			background-color: transparent;
		}
		::-webkit-scrollbar-thumb {
			border-radius: l.space('small');
			-webkit-box-shadow: none;
		}
	}
	@include simply-scrollbar-color($theme);
}

@mixin simply-scrollbar-color($theme) {
	.simply-scrollbar {
		::-webkit-scrollbar-thumb {
			background-color: mat.get-theme-color($theme, primary, 900);
		}
	}
}
