@use '@angular/material' as mat;

@use 'base/colors';
@use 'global';

@mixin simply-scrollbar-theme($theme) {
	$width: global.space('small');

	@supports (scrollbar-width: auto) {
		html {
			scrollbar-width: thin;
		}
	}

	@supports selector(::-webkit-scrollbar) {
		html {
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: none;
			}
			&::-webkit-scrollbar {
				width: $width;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 50%;
				-webkit-box-shadow: none;
			}
		}
	}

	@include simply-scrollbar-color($theme);
}

@mixin simply-scrollbar-color($theme) {
	$type: mat.get-theme-type($theme);

	$simply-primary: mat.get-theme-color($theme, primary, default);
	$simply-text: if($type == dark, colors.$simply-off-white, $simply-primary);

	@supports (scrollbar-width: auto) {
		html {
			scrollbar-color: $simply-text transparent;
		}
	}

	@supports selector(::-webkit-scrollbar) {
		html {
			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $simply-text;
			}
		}
	}
}
