@use '@angular/material' as mat;

@use 'base/colors';
@use 'global';

@mixin task-group-theme($theme) {
	.simply-task-group {
		&__content {
			@include global.prevent-select;
		}
	}
	@include task-group-color($theme);
	@include task-group-density($theme);
}

@mixin task-group-color($theme) {
	$type: mat.get-theme-type($theme);

	$simply-primary: mat.get-theme-color($theme, primary, default);
	$simply-text: if($type == dark, colors.$simply-off-white, $simply-primary);
	$simply-hover: mat.get-theme-color($theme, background, hover);

	.simply-task-group {
		&__container {
			border-color: $simply-text;
		}
	}

	button.simply-task-group {
		&__tab {
			color: $simply-text;
			&:hover {
				background-color: $simply-hover;
			}
		}
		&__active-tab {
			color: $simply-primary;
		}
	}
}

@mixin task-group-density($theme) {
	$density: mat.get-theme-density($theme);

	@if $density < 0 {
		.simply-task-group {
			&__tab {
				gap: global.space('small');
				min-height: global.space('large');
				padding: global.space('small');
			}
			&__list {
				padding: global.space('regular') global.space('small');
				gap: global.space('regular');
			}
			&__add-button {
				bottom: global.space('large');
				right: global.space('large');
			}
		}
	} @else {
		.simply-task-group {
			&__tab {
				gap: global.space('regular');
				min-height: global.space('extra-large');
				padding: global.space('regular');
			}
			&__list {
				padding: global.space('regular');
				gap: global.space('regular');
			}
			&__add-button {
				bottom: global.space('extra-large');
				right: global.space('extra-large');
			}
		}
	}
}
