@use 'sass:map';
@use '@angular/material' as mat;
@use 'base/layout';

@mixin task-board-theme($theme) {
	@include task-board-group-base;
	@include task-board-color($theme);
}

@mixin task-board-group-base() {
	button.task-board-group {
		&__tab {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: layout.space('regular');
			width: 100%;
			min-height: layout.space('extra-large');
			border: none;
			background-color: transparent;
			padding: layout.space('regular');
			transition:
				color 300ms,
				border-bottom-width 400ms 100ms;

			&.active-tab {
				border-bottom-width: 2px;
				border-bottom-style: solid;
			}
			.tab-content {
				margin: 0;
			}
		}
	}
}

@mixin task-board-color($theme) {
	@include task-board-group-color($theme);
	@include task-board-list-color($theme);
}

@mixin task-board-group-color($theme) {
	$text: mat.get-theme-color($theme, foreground, text);
	$primary: mat.get-theme-color($theme, primary);
	button.task-board-group {
		&__tab {
			color: $text;

			&.active-tab,
			&:hover {
				color: $primary;
			}
		}
	}
	.task-board-group {
		&__container {
			border-color: $text;
		}
	}
}

@mixin task-board-list-color($theme) {
	$text: mat.get-theme-color($theme, foreground, text);

	.task_list {
		__container {
			color: $text;
		}
	}
}
