<form
	class="confirm-password__form"
	#form="ngForm"
	[formGroup]="passwordForm"
	(ngSubmit)="submit()"
>
	@if (passwordConfirmError() !== AuthenticationMessages.None) {
		<simply-message
			[errorMessage]="passwordConfirmError()"
			[form]="passwordForm"
			(closeMessage)="closeError()"
			simplySpaceContent="large"
			data-test="password-confirm-message"
		></simply-message>
	}
	<h3>Confirm your current password to continue</h3>

	<mat-form-field simplySpaceContent="regular">
		<input
			matInput
			formControlName="password"
			type="password"
			placeholder="Confirm password"
			data-test="confirm-password-input"
		/>
		@if (passwordForm.get('password')?.hasError('required')) {
			<mat-error data-test="required-error"
				>Provide your current password to continue</mat-error
			>
		}
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		type="submit"
		simplySpaceContent="regular"
		data-test="submit-button"
	>
		Continue
	</button>
</form>
