@use 'sass:map';
@use '../base/layout';

@function space($margin: 'regular') {
	$temp: map.get(layout.$simply-margins, $margin);

	@if $temp {
		@return $temp;
	} @else {
		@return map.get(layout.$simply-margins, 'regular');
	}
}

@function radius($radius: 'regular') {
	$temp: map.get(layout.$simply-radius, $radius);

	@if $temp {
		@return $temp;
	} @else {
		@return map.get(layout.$simply-radius, 'regular');
	}
}

@function width($width: 'regular') {
	$temp: map.get(layout.$simply-width, $width);

	@if $temp {
		@return $temp;
	} @else {
		@return map.get(layout.$simply-width, 'regular');
	}
}

@mixin flex-component {
	:host {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
}
