@use '../../styles/base/layout' as l;

.header {
	&__container {
		padding: l.space('regular');
		display: flex;
		flex-direction: row;
		align-items: center;
    &.large-screen {
      padding: l.space('large');
    }
	}

	&__logo {
		margin-right: l.space('extra-small');
	}

	&__icon {
		flex: auto;
	}
}
