@use 'global';

.header {
	&__container {
		padding: global.space('regular');
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.large-screen {
			padding: global.space('large');
		}
	}

	&__logo {
		margin-right: global.space('extra-small');
	}

	&__icon {
		flex: auto;
	}
}

.settings-menu {
	&__container {
		display: flex;
		flex-direction: column;
		min-width: 300px;
		padding: global.space('regular');
	}
	&__settings-button,
	&__divider {
		margin-bottom: global.space('regular');
	}
}
