<header class="header__container">
    <h1 class="header__logo primary-text">Simply <mat-icon color="accent">task_alt</mat-icon></h1>
    <nav>
        @if (isLoggedIn()) {
        <button mat-stroked-button color="primary" class="header__nav-button" (click)="logout()">logout<mat-icon
                iconPositionEnd>logout</mat-icon></button>
        } @else {
        <button mat-flat-button color="primary" class="header__nav-button"
            (click)="openLoginDialog()"><mat-icon>login</mat-icon>login</button>
        }
    </nav>
</header>