@use '../../styles/theme';

.header {
    &__container {
        padding: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &____nav-button {
        margin-left: 32px;
    }
}