@use 'global';

@include global.flex-component;

.simply-task-board {
	&__container {
		flex: 1 1 auto;
	}
}

.task-board-kanban {
	&__container {
		height: 100%;
		width: 100%;
		max-width: 1800px;
		display: flex;
		flex-direction: column;
		gap: global.space('large');
	}

	&__action-menu {
		display: flex;
		justify-content: end;
	}

	&__list-container {
		flex: 1 1 auto;
		display: flex;
		gap: global.space('large');
	}
}
