<simply-center-page>
	<form [formGroup]="taskForm" (ngSubmit)="submitTask()">
		<div
			class="simply-edit-task__header"
			[ngClass]="{
				'simply-edit-task__wide-header': device() !== Devices.HandsetPortrait
			}"
		>
			<mat-form-field simplySpaceContent="regular">
				<mat-label>Task title</mat-label>
				<input matInput formControlName="title" data-test="task-title-input" />
			</mat-form-field>

			<mat-form-field
				class="simply-edit-task__status"
				simplySpaceContent="regular"
			>
				<mat-select formControlName="status" data-test="status-select">
					<mat-option
						class="simply-edit-task__current-status"
						data-test="active-status-option"
						[value]="activeTaskStatus()"
						>{{ activeTaskStatus() }}</mat-option
					>

					@for (status of availableStatuses(); track status) {
						<mat-option [value]="status" data-test="available-status-option">
							<mat-icon>{{ taskStatusIcon.get(status) }}</mat-icon
							>{{ status }}</mat-option
						>
					}
				</mat-select>
				<mat-icon matPrefix>{{
					taskStatusIcon.get(activeTaskStatus())
				}}</mat-icon>
			</mat-form-field>
		</div>

		<mat-form-field simplySpaceContent="regular">
			<mat-label>Task description</mat-label>
			<textarea
				cdkTextareaAutosize
				data-test="task-description-input"
				[cdkAutosizeMinRows]="textAreaMinRows()"
				[cdkAutosizeMaxRows]="textAreaMaxRows()"
				matInput
				formControlName="description"
			></textarea>
		</mat-form-field>

		<div class="simply-edit-task__action">
			@if (task()) {
				<button
					type="button"
					mat-stroked-button
					class="simply-edit-task__button"
					data-test="delete-button"
					color="primary"
					aria-label="Delete task"
					(click)="deleteTask()"
				>
					<mat-icon>delete</mat-icon>
					Delete
				</button>
			} @else {
				<button
					type="button"
					mat-stroked-button
					data-test="cancel-button"
					class="simply-edit-task__button"
					color="primary"
					(click)="cancel()"
				>
					Cancel
				</button>
			}
			<button
				type="submit"
				class="simply-edit-task__button"
				data-test="save-button"
				mat-flat-button
				color="primary"
			>
				Save
			</button>
		</div>
	</form>
</simply-center-page>
