@use 'global';

@include global.flex-component;

.simply-edit-task {
	&__header {
		display: flex;
		flex-direction: column;

		&.simply-edit-task__wide-header {
			flex-direction: row;
		}
	}
	&__status {
		width: initial;
	}
	&__current-status {
		display: none;
	}
	&__textarea {
		min-height: 150px;
	}
	&__action {
		display: flex;
	}
	&__button {
		flex: 1 1 auto;
	}
}
