@use 'global';

@include global.flex-component;

.sign-up {
	&__button {
		width: 100%;
	}
	&__text {
		text-align: center;
		margin: 2rem 0;
	}
}

app-error-message {
	margin-bottom: global.space('regular');
}
