<form
	class="confirm-password__form"
	[formGroup]="passwordForm"
	(ngSubmit)="submit()"
>
	@if (passwordSubmitError() !== AuthenticationMessages.None) {
		<simply-message
			[errorMessage]="passwordSubmitError()"
			[form]="passwordForm"
			(onClose)="closeError()"
			simplySpaceContent="large"
		></simply-message>
	}
	<mat-form-field simplySpaceContent="regular">
		<input
			matInput
			formControlName="password"
			type="password"
			placeholder="Confirm password"
		/>
		@if (passwordForm.get('password')?.hasError('required')) {
			<mat-error>Provide your current password to continue</mat-error>
		}
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		type="submit"
		simplySpaceContent="regular"
	>
		Continue
	</button>
</form>
