<form
	class="confirm-password__form"
	[formGroup]="passwordForm"
	(ngSubmit)="submit()"
>
	<mat-form-field class="confirm-password__form-element">
		<input matInput formControlName="password" placeholder="Confirm password" />
		@if (passwordForm.get('password')?.hasError('required')) {
			<mat-error>Provide your current password to continue</mat-error>
		}
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		type="submit"
		class="confirm-password__form-element"
	>
		Continue
	</button>
</form>
