<simply-center-page simplyTextContent data-test="verify-email">
	<h2 data-test="verify-email-title">Verify your email</h2>
	<p data-test="verify-email-text">
		We sent an email to
		@if (email()) {
			<strong>{{ email() }}</strong>
		} @else {
			<span>you</span>
		}
	</p>
	<p>Just click on the link in that email to complete your sign up</p>
	<mat-divider simplySpaceContent="regular"></mat-divider>
	<p>
		If you don't see it, you may need to <strong>check your spam</strong> folder
	</p>
	<p>Still can't find the email?</p>
	<button
		data-test="send-verification-button"
		mat-flat-button
		color="primary"
		(click)="sendVerificationLink()"
	>
		Resend Email
	</button>
</simply-center-page>
