<simply-center-page simplyTextContent data-test="authenticate">
	@if (mode() === 'verifyEmail') {
		<simply-confirm-verify-email
			data-test="confirm-verify-email"
			[user]="user()"
			[emailCodeConfirmed]="emailCodeConfirmed()"
			[emailVerificationError]="emailError()"
			(goToApp)="goToApp()"
			(sendVerificationLink)="sendVerificationLink($event)"
		/>
	}

	@if (mode() === 'resetPassword') {
		<simply-confirm-reset-password
			data-test="confirm-reset-password"
			[passwordCodeConfirmed]="passwordCodeConfirmed()"
			[passwordConfirmed]="passwordConfirmed()"
			[passwordError]="passwordError()"
			(resetPassword)="resetPassword($event)"
			(goToApp)="goToApp()"
		/>
	}
</simply-center-page>
