<simply-center-page simplyTextContent>
	@if (mode() === 'verifyEmail') {
		<h2>Thank you for signing up to <simply-logo></simply-logo></h2>

		@if (!continue()) {
			<p>We will verify your email address</p>
		}

		<mat-divider simplySpaceContent="large"></mat-divider>

		@if (continue()) {
			<p>Email is verified, continue to the app</p>
			<button
				class="simply-authenticate__button"
				mat-flat-button
				color="primary"
				(click)="gotToApp()"
			>
				Continue to app
			</button>
		}
		@if (errorMessage() !== AuthenticationMessages.None) {
			<simply-message
				[errorMessage]="errorMessage()"
				simplySpaceContent="large"
			></simply-message>

			@if (user(); as user) {
				<p>We can sent a new email verification</p>
				<button
					class="simply-authenticate__button"
					mat-flat-button
					color="primary"
					(click)="sendVerificationLink(user)"
				>
					Send new email verification
				</button>
			} @else {
				<p>Please log in to your account again</p>
				<p>After login you can get a new email verification</p>
				<button
					class="simply-authenticate__button"
					mat-flat-button
					color="primary"
					routerLink="/account/login"
				>
					Log in
				</button>
			}
		}
	}

	@if (mode() === 'resetPassword') {
		<h2>Password reset</h2>

		@if (errorMessage() !== AuthenticationMessages.None) {
			<simply-message
				[errorMessage]="errorMessage()"
				simplySpaceContent="large"
			></simply-message>
		}

		@if (!continue() && !passwordConfirmed()) {
			<p>We will verify the password reset link</p>

			<mat-divider simplySpaceContent="large"></mat-divider>
		}

		@if (continue() && !passwordConfirmed()) {
			<simply-new-password
				(isSubmitted)="resetPassword($event)"
				newPasswordSubmitAction="Reset password"
			></simply-new-password>
		}

		@if (passwordConfirmed()) {
			<p>New password is set</p>
			<button
				class="simply-authenticate__button"
				mat-flat-button
				color="primary"
				(click)="gotToApp()"
			>
				Continue to app
			</button>
		}
	}
</simply-center-page>
