<simply-center-page simplyTextContent data-test="authenticate">
	@if (mode() === 'verifyEmail') {
		<simply-confirm-verify-email
			[user]="user()"
			[emailCodeConfirmed]="emailCodeConfirmed()"
			[emailError]="emailError()"
			(onGoToApp)="goToApp()"
			(onSendVerificationLink)="sendVerificationLink($event)"
		/>
	}

	@if (mode() === 'resetPassword') {
		<simply-confirm-reset-password
			[passwordCodeConfirmed]="passwordCodeConfirmed()"
			[passwordConfirmed]="passwordConfirmed()"
			[passwordError]="passwordError()"
			(resetPassword)="resetPassword($event)"
			(goToApp)="goToApp()"
		/>
	}
</simply-center-page>
