@use 'global';

:host {
	display: flex;
  justify-content: center;
	height: 100%;
	width: 100%;
}

.simply-kanban {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1800px;
  }
	&__action-menu {
		display: flex;
		justify-content: end;
	}
	&__list-container {
		flex: 1 1 auto;
		display: flex;
	}
	&__list {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-style: solid;
		border-width: 1px;
		border-radius: global.radius('regular');
	}
	&__header {
		display: flex;
		justify-content: center;
	}
	&__content {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}
}
