<div
	class="page__container"
	[ngClass]="{ 'is-phone-landscape': device() === Devices.HandsetLandscape }"
>
	<div class="page__content">
		<h3 class="settings-menu__text">
			<mat-icon>settings</mat-icon> Your Simply account
		</h3>
		<p class="settings-menu__text">Email: {{ userEmail() }}</p>
		<button
			mat-stroked-button
			(click)="logout()"
			color="primary"
			class="settings-menu__logout-button"
		>
			<span>Log out</span>
			<mat-icon>logout</mat-icon>
		</button>
		<mat-divider class="settings-menu__divider"></mat-divider>

		<app-menu-dropdown iconName="password" menuTitle="Change password">
			<button mat-stroked-button color="primary">
				<mat-icon>password</mat-icon>Change password
			</button>
		</app-menu-dropdown>

		<app-menu-dropdown
			iconName="delete"
			menuTitle="Remove account"
			(menuToggled)="removeError()"
		>
			@if (settingsChangeError() !== AuthenticationMessages.None) {
				<app-error-message
					[errorMessage]="settingsChangeError()"
					(closed)="removeError()"
				></app-error-message>
			}
			<button
				mat-stroked-button
				color="primary"
				(click)="openRemoveAccountDialog()"
			>
				<mat-icon>delete</mat-icon> Remove account
			</button>
		</app-menu-dropdown>
	</div>
</div>
