<app-center-page>
	<div class="settings-menu__container">
		<h3 class="settings-menu__text">
			<mat-icon>settings</mat-icon> Your Simply account
		</h3>
		<p class="settings-menu__text">Email: {{ userEmail() }}</p>
		<button
			mat-stroked-button
			(click)="logout()"
			color="primary"
			class="settings-menu__logout-button"
		>
			<span>Log out</span>
			<mat-icon>logout</mat-icon>
		</button>
		<mat-divider class="settings-menu__divider"></mat-divider>

		<app-menu-dropdown
			iconName="password"
			menuTitle="Change password"
			(menuOpened)="resetAll()"
		>
			@if (changePasswordMessage() !== AuthenticationMessages.None) {
				<app-error-message
					[errorMessage]="changePasswordMessage()"
					(closed)="resetChangePasswordMessage()"
				></app-error-message>
			}
			@if (
				!passwordConfirmed() &&
				changePasswordMessage() !==
					AuthenticationMessages.SuccessfulPasswordChange
			) {
				<p>Confirm your current password to continue</p>
				<app-confirm-password
					(passwordSubmitted)="confirmPassword($event, 'ChangePassword')"
					[submitErrorMessage]="passwordConfirmError()"
					(errorClosed)="resetPasswordConfirmError()"
				></app-confirm-password>
			} @else if (passwordConfirmed()) {
				<p>Change your password</p>
				<form
					[formGroup]="changePasswordForm"
					(ngSubmit)="submitChangePassword()"
				>
					<app-new-password-form-field
						formControlName="password"
						(isSubmitted)="submitChangePassword()"
						[markAsTouched]="invalidChangePassword()"
					></app-new-password-form-field>
					<button
						mat-flat-button
						class="settings-menu__button"
						color="primary"
						type="submit"
					>
						Change password
					</button>
				</form>
			}
		</app-menu-dropdown>

		<app-menu-dropdown
			iconName="delete"
			menuTitle="Remove account"
			(menuOpened)="resetAll()"
		>
			@if (removeAccountError() !== AuthenticationMessages.None) {
				<app-error-message
					[errorMessage]="removeAccountError()"
					(closed)="resetRemoveAccountError()"
				></app-error-message>
			}

			@if (!passwordConfirmed()) {
				<p>Confirm your current password to continue</p>
				<app-confirm-password
					(passwordSubmitted)="confirmPassword($event, 'RemoveAccount')"
					[submitErrorMessage]="passwordConfirmError()"
					(errorClosed)="resetPasswordConfirmError()"
				></app-confirm-password>
			} @else {
				<button
					mat-flat-button
					color="primary"
					(click)="openRemoveAccountDialog()"
				>
					Continue
				</button>
			}
		</app-menu-dropdown>
	</div>
</app-center-page>
