<div class="simply-task-board__container">
	@if (device() !== Devices.WideScreen) {
		<simply-task-group cdkDropListGroup>
			@for (status of taskStatuses; track status) {
				<button
					cdkDropList
					simplyTaskGroupTab
					[active]="activeStatus() === status"
					[taskStatus]="status"
					(click)="selectStatus(status)"
					[id]="'TAB_' + status"
					(cdkDropListDropped)="updateTask($event, status)"
					(cdkDropListEntered)="switchTab(status)"
				>
					<mat-icon [attr.aria-label]="status">{{
						taskStatusIcon.get(status)
					}}</mat-icon>
					@if (device() !== Devices.HandsetPortrait) {
						<h3 simplyNoSpace>{{ status }}</h3>
					}
				</button>
			}
			@for (status of taskStatuses; track status) {
				<div
					cdkDropList
					simplyTaskGroupList
					[active]="status === activeStatus()"
					[taskStatus]="status"
					[id]="status"
					[cdkDropListData]="taskStatusListItems[$index]()"
					(cdkDropListDropped)="updateTask($event)"
				>
					@for (task of taskStatusListItems[$index](); track task.id) {
						<simply-task-card
							cdkDrag
							(editTask)="editTask($event)"
							[task]="task"
						></simply-task-card>
					}
				</div>
			}

			<button
				mat-mini-fab
				color="accent"
				routerLink="task"
				simplyTaskGroupAddButton
			>
				<mat-icon>add</mat-icon>
			</button>
		</simply-task-group>
	} @else {
		<simply-kanban
			[taskList]="taskList()"
			(onNewTask)="newTask()"
			(onEditTask)="editTask($event)"
			(onUpdateTask)="updateTask($event)"
		></simply-kanban>
	}
</div>
