<div class="simply-task-board__container">
	@if (device() !== Devices.WideScreen) {
		<simply-task-group
			[taskList]="taskList()"
			[activeList]="activeList()"
			[editDoneId]="editDoneId()"
			[device]="device()"
			(statusChange)="setActiveList($event)"
			(newTask)="newTask()"
			(editTask)="editTask($event)"
			(editTaskDone)="editTaskDone($event)"
			(updateTaskList)="updateTaskList($event)"
		></simply-task-group>
	} @else {
		<simply-kanban
			class="simply-kanban__host"
			[taskList]="taskList()"
			[editDoneId]="editDoneId()"
			(editTask)="editTask($event)"
			(editTaskDone)="editTaskDone($event)"
			(updateTaskList)="updateTaskList($event)"
		></simply-kanban>
	}
</div>
