<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="title" />
</mat-form-field>

<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
</mat-form-field>

<div mat-dialog-actions>
    <button *ngIf="data.enableDelete" mat-fab color="primary" aria-label="Delete" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="submitTask()">OK</button>
</div>