@use '../../../../styles/base/layout';

@include layout.flex-component;

.edit-task {
	&__header {
		display: flex;
		flex-direction: column;

		&.wide-header {
			flex-direction: row;
			gap: layout.space('regular');
		}
	}
	&__status {
		width: initial;
	}
	&__current-status {
		display: none;
	}
	&__textarea {
		min-height: 150px;
	}
	&__action {
		display: flex;
		gap: layout.space('regular');
	}
	&__button {
		flex: 1 1 auto;
	}
}
