<div
	class="page__container"
	[ngClass]="{ 'is-phone-landscape': device() === Devices.HandsetLandscape }"
>
	<form class="page__content" [formGroup]="signUpForm" (ngSubmit)="signUp()">
		<h3>Sign up to Simply <mat-icon color="accent">task_alt</mat-icon></h3>

		@if (!continue()) {
			<p class="sign-up__text">Sign up with your email</p>
		}

		<mat-form-field>
			<mat-label>Email</mat-label>
			<input type="text" matInput formControlName="email" />
			@if (signUpForm.get('email')?.hasError('required')) {
				<mat-error>Fill in your email</mat-error>
			}
			@if (signUpForm.get('email')?.hasError('email')) {
				<mat-error>Fill in a valid email</mat-error>
			}
		</mat-form-field>

		@if (!continue()) {
			<button
				type="button"
				class="sign-up__button"
				mat-flat-button
				color="primary"
				(click)="setContinue()"
			>
				Continue
			</button>
		}

		@if (continue()) {
			<mat-divider></mat-divider>
			<p class="sign-up__text">Make a new password</p>
			<app-new-password-form-field
				formControlName="password"
				[markAsTouched]="invalidSubmit()"
				(isSubmitted)="signUp()"
			></app-new-password-form-field>

			<button
				type="submit"
				class="sign-up__button"
				mat-flat-button
				color="primary"
			>
				Sign up
			</button>
		}
	</form>
</div>
