@use '@angular/material' as mat;
@use 'sass:map';

@use 'base/colors';
@use 'base/typography';

@mixin simply-text-theme($theme) {
	$type: mat.get-theme-type($theme);

	$primary-default: mat.get-theme-color($theme, primary, default);
	$text-default: if($type == dark, colors.$simply-off-white, $primary-default);

	body.simply {
		color: $text-default;

		// Reset margins for:
		h1,
		h2,
		h3,
		h4,
		p {
			margin: 0;
		}
		.simply-text {
			h2,
			.mat-headline-1 {
				margin: 0 0 map.get(typography.$simply-font-size, 'large') 0;
			}
			p,
			h3,
			.mat-headline-2 {
				margin: 0 0 map.get(typography.$simply-font-size, 'regular') 0;
			}
		}
	}
}
