@use '@angular/material' as mat;
@use 'sass:map';
@use './base/colors';
@use './base/typography';


@include mat.core();

/*      Light theme colors      */
$simply-primary: mat.define-palette(colors.$dark-blue-palette, 900);
$simply-accent: mat.define-palette(colors.$orange-palette, 500, 300, 600);
$simply-warn: mat.define-palette(colors.$orange-palette, 900);

/*      Theme colors for custom components      */
$simply-text-color: colors.$simply-dark-blue-grey;
$simply-primary-color: map.get(colors.$dark-blue-palette, 900);

/*      Light theme     */
$simply-light-theme: mat.define-light-theme((color: (primary: $simply-primary,
                                accent: $simply-accent,
                                warn: $simply-warn,
                        ),
                        typography: typography.$simply-typography-config,
                        density: 0));

@include mat.core-theme($simply-light-theme);

@include mat.button-theme($simply-light-theme);
@include mat.icon-theme($simply-light-theme);
@include mat.card-theme($simply-light-theme);
@include mat.dialog-theme($simply-light-theme);
@include mat.form-field-theme($simply-light-theme);

@include mat.typography-hierarchy(typography.$simply-typography-config);

body.mat-typography {
        color: $simply-text-color;
        @include typography.text-margins;
}