@use '../../../../styles/base/layout';

@include layout.page-container;

.page {
	&__content {
		button {
			width: 100%;
			margin-bottom: layout.space('large');
		}
		mat-divider {
			margin-bottom: layout.space('large');
		}
	}
	&__text {
		text-align: center;
	}
}
