<form [formGroup]="newPasswordForm" (ngSubmit)="submitPassword()">
	<h3>{{ newPasswordTitle() }}</h3>

	<mat-form-field simplySpaceContent="regular">
		<mat-label>New password</mat-label>
		<input
			data-test="new-password-input"
			type="password"
			matInput
			formControlName="newPassword"
		/>
		@if (newPasswordForm.get('newPassword')?.hasError('required')) {
			<mat-error data-test="new-password-required-error"
				>Enter in a new password</mat-error
			>
		}
		@if (newPasswordForm.get('newPassword')?.hasError('minlength')) {
			<mat-error data-test="new-password-length-error"
				>Password should be at least 8 characters long</mat-error
			>
		}
	</mat-form-field>

	<mat-form-field simplySpaceContent="regular">
		<mat-label>Repeat password</mat-label>
		<input
			data-test="repeat-password-input"
			type="password"
			matInput
			formControlName="repeatPassword"
		/>
		@if (newPasswordForm.get('repeatPassword')?.hasError('required')) {
			<mat-error data-test="repeat-password-required-error"
				>Repeat the same password</mat-error
			>
		}
		@if (
			newPasswordForm.get('repeatPassword')?.hasError('differentPasswords')
		) {
			<mat-error data-test="repeat-password-same-error"
				>Passwords are not the same</mat-error
			>
		}
	</mat-form-field>

	<button
		data-test="submit-button"
		type="submit"
		mat-flat-button
		color="primary"
		class="simply-new-password__submit-button"
	>
		{{ newPasswordSubmitText() }}
	</button>
</form>
