@use '../../../styles/base/layout' as l;

:host {
    flex: 1 1 auto;
    position: relative;
}

.sign-in {
    &__container {
        padding: 0 l.space();
        position: relative;
        top: 20%;
    }
}