@use '../../../styles/base/layout' as l;

:host {
    flex: 1 1 auto;
    position: relative;
}

.sign-in {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 l.space();
        position: relative;
        top: 20%;

        &.is-phone-landscape {
            top: 10%;
        }
    }

    &__content {
        max-width: 600px;
    }
}