@use 'global';

:host {
	flex: 1 1 auto;
	position: relative;
}

.center-page {
	&__container {
		position: relative;
		top: 20%;
		display: flex;
		justify-content: center;
		padding: 0 global.space('regular');
		&.center-page__phone-landscape {
			top: 5%;
		}
	}
	&__content {
		width: 100%;
		&.center-page__small {
			max-width: global.width('small');
		}
		&.center-page__regular {
			max-width: global.width('regular');
		}
		&.center-page__large {
			max-width: global.width('large');
		}
	}
}
