@use 'base/layout';

:host {
	flex: 1 1 auto;
	position: relative;
}

.center-page {
	&__container {
		position: relative;
		top: 20%;
		display: flex;
		justify-content: center;
		padding: 0 layout.space('regular');
	}
	&__content {
		width: 100%;
	}
	&__container.is-phone-landscape {
		top: 5%;
	}
}
