@use '../../../../styles/base/layout';

@include layout.flex-component;

.edit-task {
	&__current-status {
		display: none;
	}
	&__action {
		display: flex;
		gap: layout.space('regular');
	}
	&__button {
		flex: 1 1 auto;
	}
}
