<app-center-page>
	@if (taskForm) {
		<form
			[formGroup]="taskForm"
			(ngSubmit)="submitTask()"
			class="page__content"
		>
			<h3>
				{{ task ? 'Edit task' : 'Create task' }}
			</h3>

			<mat-form-field>
				<mat-select formControlName="status">
					<mat-option
						class="edit-task__current-status"
						[value]="currentStatus()"
						>{{ currentStatus() }}</mat-option
					>

					@for (status of availableStatuses(); track status) {
						<mat-option [value]="status"
							><mat-icon>{{ taskStatusIcon.get(status) }}</mat-icon
							>{{ status }}</mat-option
						>
					}
				</mat-select>
				<mat-icon matPrefix>{{ taskStatusIcon.get(currentStatus()) }}</mat-icon>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Title</mat-label>
				<input matInput formControlName="title" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Description</mat-label>
				<textarea matInput formControlName="description"></textarea>
			</mat-form-field>

			<div class="edit-task__action">
				@if (task) {
					<button
						type="button"
						mat-stroked-button
						class="edit-task__button"
						color="primary"
						aria-label="Delete task"
						(click)="deleteTask()"
					>
						<mat-icon>delete</mat-icon>
						Delete
					</button>
				} @else {
					<button
						type="button"
						mat-stroked-button
						class="edit-task__button"
						color="primary"
						(click)="cancel()"
					>
						Cancel
					</button>
				}
				<button
					type="submit"
					class="edit-task__button"
					mat-flat-button
					color="primary"
				>
					Save
				</button>
			</div>
		</form>
	}
</app-center-page>
