@use 'sass:map';
@use 'base/layout';
@use 'base/typography';

:host {
	display: block;
}

.menu-dropdown {
	&__container {
		border-radius: 8px;
	}
	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		line-height: 1;
		border: none;
		padding: layout.space('regular');
		background-color: transparent;
		font-family: inherit;
		font-size: map.get(typography.$simply-font-size, 'large');
		&:hover {
			cursor: pointer;
		}
	}
	&__title-container {
		display: flex;
		align-items: center;
	}
	&__icon {
		margin-right: layout.space('regular');
	}
	&__title {
		margin: 0;
	}
	&__content {
		padding: layout.space('regular');
		display: flex;
		flex-direction: column;
		gap: layout.space('regular');
	}
}
