:host {
	display: block;
}

.panel {
	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		line-height: 1;
		border: none;
		&:hover {
			cursor: pointer;
		}
	}
	&__title-container {
		display: flex;
		align-items: center;
	}
	&__title {
		margin: 0;
	}
}
