<form [formGroup]="newPasswordForm" (blur)="onTouched()" #form>
	<mat-form-field appearance="outline">
		<mat-label>Password</mat-label>
		<input type="password" matInput formControlName="newPassword" />
		@if (newPasswordForm.get('newPassword')?.hasError('required')) {
			<mat-error>You have to fill in a new password</mat-error>
		}
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Repeat password</mat-label>
		<input type="password" matInput formControlName="repeatPassword" />
		@if (newPasswordForm.get('repeatPassword')?.hasError('required')) {
			<mat-error>You have fill in the same password again as a check</mat-error>
		}
		@if (
			newPasswordForm.get('repeatPassword')?.hasError('differentPasswords')
		) {
			<mat-error>Passwords are not the same</mat-error>
		}
	</mat-form-field>
</form>
