<h2 data-test="reset-password-title">Password reset</h2>

@if (passwordError() !== AuthenticationMessages.None) {
	<simply-message
		data-test="reset-password-message"
		[errorMessage]="passwordError()"
		simplySpaceContent="large"
	></simply-message>
}

@if (!passwordCodeConfirmed() && !passwordCodeConfirmed()) {
	<p data-test="continue-password-confirmed">
		We will verify the password reset link
	</p>

	<mat-divider simplySpaceContent="large"></mat-divider>
}

@if (passwordCodeConfirmed() && !passwordCodeConfirmed()) {
	<simply-new-password
		data-test="new-password"
		(isSubmitted)="resetPassword($event)"
		newPasswordSubmitAction="Reset password"
	></simply-new-password>
}

@if (passwordCodeConfirmed()) {
	<p>New password is set</p>
	<button
		data-test="password-confirmed-button"
		class="simply-authenticate__button"
		mat-flat-button
		color="primary"
		(click)="goToApp()"
	>
		Continue to app
	</button>
}
