@use 'global';

:host {
	display: block;
}

.error-message {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-left-width: 4px;
		border-left-style: solid;
		border-radius: global.radius('small');
		padding-left: global.space('regular');
	}
	&__text {
		margin: 0;
	}
}
