<simply-center-page data-test="settings">
	<h2 data-test="settings-title" simplyTextContent>
		Your <simply-logo /> account
	</h2>
	<button
		data-test="logout-button"
		mat-stroked-button
		color="primary"
		simplySpaceContent="large"
		(click)="logout()"
	>
		<span>Log out</span>
		<mat-icon>logout</mat-icon>
	</button>
	<mat-divider simplySpaceContent="large"></mat-divider>

	<simply-panel
		data-test="change-password-panel"
		iconName="password"
		panelTitle="Change password"
		simplySpaceContent="large"
		(panelOpened)="resetAll()"
	>
		@if (changePasswordMessage() !== AuthenticationMessages.None) {
			<simply-message
				data-test="change-password-message"
				[errorMessage]="changePasswordMessage()"
				(closeMessage)="resetChangePasswordMessage()"
				simplySpaceContent="large"
			></simply-message>
		}
		@if (
			!continuePasswordChange() &&
			changePasswordMessage() !==
				AuthenticationMessages.SuccessfulPasswordChange
		) {
			<simply-confirm-password
				data-test="confirm-password-for-change"
				[setPasswordConfirmError]="passwordConfirmError()"
				(passwordSubmit)="confirmPassword($event, 'ChangePassword')"
				(closePasswordError)="resetPasswordConfirmError()"
			></simply-confirm-password>
		} @else if (continuePasswordChange()) {
			<simply-new-password
				data-test="new-password"
				newPasswordTitle="Change your password"
				newPasswordSubmitText="Change password"
				(newPassword)="submitChangePassword($event)"
			></simply-new-password>
		}
	</simply-panel>

	<simply-panel
		data-test="remove-account-panel"
		iconName="delete"
		panelTitle="Remove account"
		(panelOpened)="resetAll()"
	>
		@if (removeAccountError() !== AuthenticationMessages.None) {
			<simply-message
				data-test="remove-account-message"
				[errorMessage]="removeAccountError()"
				(closeMessage)="resetRemoveAccountError()"
				simplySpaceContent="large"
			></simply-message>
		}

		<simply-confirm-password
			data-test="confirm-password-for-remove"
			(passwordSubmit)="confirmPassword($event, 'RemoveAccount')"
			[setPasswordConfirmError]="passwordConfirmError()"
			(closePasswordError)="resetPasswordConfirmError()"
		></simply-confirm-password>
	</simply-panel>
</simply-center-page>
