<div class="simply-forgot-password__header">
	<h3>Forgot password?</h3>
	<button mat-icon-button color="primary" aria-label="Close" (click)="close()">
		<mat-icon>close</mat-icon>
	</button>
</div>
<form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
	<p>We can send you an email with a link</p>
	<p>Follow this link to set a new password</p>

	<mat-divider simplySpaceContent="large"></mat-divider>

	<mat-form-field simplySpaceContent="regular">
		<mat-label>Email</mat-label>
		<input type="text" matInput formControlName="email" simplyFocusInput />
		@if (emailForm.get('email')?.hasError('required')) {
			<mat-error>Fill in your email</mat-error>
		}
		@if (emailForm.get('email')?.hasError('email')) {
			<mat-error>Fill in a valid email</mat-error>
		}
	</mat-form-field>

	<button
		type="submit"
		mat-flat-button
		color="primary"
		simplySpaceContent="regular"
	>
		Send email
	</button>
</form>
