<div class="simply-forgot-password__header">
	<h3>Forgot password?</h3>
	<button
		mat-icon-button
		color="primary"
		aria-label="Close"
		data-test="close-button"
		(click)="close()"
	>
		<mat-icon>close</mat-icon>
	</button>
</div>
<form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
	<p>We can send you an email with a link</p>
	<p>Follow this link to set a new password</p>

	<mat-divider simplySpaceContent="large"></mat-divider>

	<mat-form-field simplySpaceContent="regular">
		<mat-label>Email</mat-label>
		<input
			type="text"
			matInput
			formControlName="email"
			data-test="email-input"
			simplyFocusInput
		/>
		@if (emailForm.get('email')?.hasError('required')) {
			<mat-error data-test="required-error">Enter a your email</mat-error>
		}
		@if (emailForm.get('email')?.hasError('email')) {
			<mat-error data-test="valid-email-error">Enter a valid email</mat-error>
		}
	</mat-form-field>

	<button
		type="submit"
		mat-flat-button
		color="primary"
		data-test="send-email-button"
		simplySpaceContent="regular"
	>
		Send email
	</button>
</form>
