.add-button {
    margin-left: 2rem;
}

.content-wrapper {
    width: 100%;
    margin: auto;
}

.container-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.container {
    width: 25%;
    margin: 0 2rem 2rem 0;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 1rem;
}

.list {
    margin-top: 1rem;
    min-height: 60px;
}

app-task {
    display: block;
    margin-bottom: 30px;
}

.empty-label {
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
}