<div class="simply-task-group__container" cdkDropListGroup>
	<header>
		<nav class="simply-task-group__nav">
			@for (status of taskStatuses; track status) {
				<button
					cdkDropList
					class="simply-task-group__tab"
					[ngClass]="{
						'simply-task-group__active-tab': activeList() === status
					}"
					[attr.aria-current]="activeList() === status ? status : null"
					[id]="'TAB_' + status"
					(click)="selectStatus(status)"
					(cdkDropListEntered)="switchTab(status)"
					(cdkDropListDropped)="updateTaskList($event, status)"
				>
					<mat-icon [attr.aria-label]="status">{{
						taskStatusIcon.get(status)
					}}</mat-icon>
					@if (device() !== Devices.HandsetPortrait) {
						<h3 simplyNoSpace>{{ status }}</h3>
					}
				</button>
			}
		</nav>
	</header>

	<div class="simply-task-group__content">
		@for (status of taskStatuses; track status) {
			<div
				cdkDropList
				class="simply-task-group__list"
				[ngClass]="{
					'simply-task-group__list-hidden': activeList() !== status
				}"
				[id]="status"
				[cdkDropListData]="taskStatusList[status]()"
				(cdkDropListDropped)="updateTaskList($event)"
			>
				@for (task of taskStatusList[status](); track task.id) {
					<simply-task-card
						cdkDrag
						[cdkDragStartDelay]="EventResponse.Middle"
						cdkDragPreviewClass="task-card__active"
						(editTask)="editTask($event)"
						[task]="task"
					></simply-task-card>
				}
			</div>
		}
	</div>
</div>
<button
	mat-mini-fab
	color="accent"
	class="simply-task-group__add-button"
	(click)="newTask()"
>
	<mat-icon>add</mat-icon>
</button>
