<div class="simply-task-group__container" cdkDropListGroup>
	<header>
		<nav class="simply-task-group__nav">
			@for (status of taskStatuses; track status) {
				<button
					cdkDropList
					data-test="status-tab-button"
					class="simply-task-group__tab"
					[ngClass]="{
						'simply-task-group__active-tab': activeList() === status
					}"
					[attr.aria-current]="activeList() === status ? status : null"
					[id]="toTabStatus(status)"
					(click)="emitStatusChange(status)"
					(cdkDropListEntered)="emitStatusChange(status)"
					(cdkDropListDropped)="emitUpdateTaskList($event, status)"
				>
					<mat-icon [attr.aria-label]="status">{{
						taskStatusIcon.get(status)
					}}</mat-icon>
					@if (device() !== Devices.HandsetPortrait) {
						<h3 data-test="status-tab-text">{{ status }}</h3>
					}
				</button>
			}
		</nav>
	</header>

	<div class="simply-task-group__content">
		@for (status of taskStatuses; track status) {
			<div
				cdkDropList
				data-test="task-list"
				class="simply-task-group__list"
				[ngClass]="{
					'simply-task-group__list-hidden': activeList() !== status
				}"
				[id]="status"
				[cdkDropListData]="taskStatusList[status]()"
				(cdkDropListDropped)="emitUpdateTaskList($event)"
			>
				@for (task of taskStatusList[status](); track task.id) {
					<simply-task-card
						cdkDrag
						cdkDragPreviewClass="task-card__drag"
						data-test="task-card"
						[ngClass]="{
							'task-card__drag': task.id === dragEnabledId(),
							'task-card__edited': task.id === showEditDoneId()
						}"
						[task]="task"
						[cdkDragStartDelay]="EventResponse.Middle"
						(editTask)="emitEditTask($event)"
						(dragEnabled)="dragEnabled($event, task)"
						(cdkDragDropped)="emitEditTaskDone(task)"
					></simply-task-card>
				}
			</div>
		}
	</div>
</div>
<button
	mat-mini-fab
	color="accent"
	data-test="add-button"
	class="simply-task-group__add-button"
	(click)="emitNewTask()"
>
	<mat-icon>add</mat-icon>
</button>
