@use '@angular/material' as mat;
@use 'sass:map';

@use 'base/colors';
@use 'base/typography';
@use 'global';

@mixin global-text-theme($theme) {
	@include global-text-color($theme);
	@include global-text-density($theme);
}

@mixin global-text-color($theme) {
	$type: mat.get-theme-type($theme);

	$simply-primary: mat.get-theme-color($theme, primary, default);
	$simply-text: if($type == dark, colors.$simply-off-white, $simply-primary);

	body.mat-typography {
		color: $simply-text;
	}
}

@mixin global-text-density($theme) {
	$density: mat.get-theme-density($theme);

	// Reset of margins and paddings
	body.mat-typography {
		h1,
		h2,
		h3,
		h4,
		p {
			margin: 0;
			padding: 0;
		}
	}

	$extra-large: map.get(typography.$simply-font-size, 'extra-large');
	$large: map.get(typography.$simply-font-size, 'large');
	$regular: map.get(typography.$simply-font-size, 'regular');
	$small: map.get(typography.$simply-font-size, 'small');

	@if $density < 0 {
		body.mat-typography {
			form,
			.simply-text-content {
				h1,
				h2,
				.mat-headline-1 {
					margin-bottom: $large;
				}
				h3,
				h4,
				.mat-headline-2 {
					margin-bottom: $regular;
				}
				p {
					margin-bottom: $small;
				}
			}
			h1,
			h2,
			.mat-headline-1 {
				&.simply-text-headline {
					margin-bottom: $large;
				}
			}
			h3,
			h4,
			.mat-headline-2 {
				&.simply-text-sub-headline {
					margin-bottom: $regular;
				}
			}
			p {
				&.simply-text-body {
					margin-bottom: $small;
				}
			}
		}
	} @else {
		body.mat-typography {
			form,
			.simply-text-content {
				h1,
				h2,
				.mat-headline-1 {
					margin-bottom: $extra-large;
				}
				h3,
				h4,
				.mat-headline-2 {
					margin-bottom: $large;
				}
				p {
					margin-bottom: $regular;
				}
			}
			h1,
			h2,
			.mat-headline-1 {
				&.simply-text-headline {
					margin-bottom: $extra-large;
				}
			}
			h3,
			h4,
			.mat-headline-2 {
				&.simply-text-sub-headline {
					margin-bottom: $large;
				}
			}
			p {
				&.simply-text-body {
					margin-bottom: $regular;
				}
			}
		}
	}
}
