<div simplyTextContent>
	<h3>Remove account</h3>
	<p>Remove your account with all your saved tasks</p>
	<p>This action can not be undone</p>
</div>

<div class="remove-account__actions">
	<button
		mat-stroked-button
		color="primary"
		data-test="cancel-button"
		(click)="cancel()"
	>
		Cancel
	</button>
	<button
		mat-flat-button
		color="primary"
		class="remove-account__confirm"
		data-test="remove-account-button"
		(click)="removeAccount()"
	>
		Remove
		@if (device() !== Devices.HandsetPortrait) {
			<span>account</span>
		}
	</button>
</div>
