<div class="task-board__container">
	<div class="task-board__one-column simply-border-color">
		<mat-tab-group
      dynamicHeight
      color="primary"
      (selectedTabChange)="tabChange($event)"
      [selectedIndex]="currentTabIndex()"
    >
			@for (status of taskStatuses; track status) {
				<mat-tab>
					<ng-template mat-tab-label>
						<div
              class="task-board__label"
              cdkDropList
              [id]="'TAB_' + status"
              (cdkDropListDropped)="tabDrop($event)"
              [cdkDropListConnectedTo]="currentStatus()"
            >
              {{ status }}
            </div>
					</ng-template>
          <div
            class="task-column__dropzone"
            cdkDropList
            [id]="status"
            [cdkDropListData]="currentList()"
            [cdkDropListConnectedTo]="connectedLists()"
            (cdkDropListDropped)="updateTask($event)"
          >
            @for (task of currentList(); track task.id) {
              <app-task
                class="task-column__task"
                cdkDrag
                (editTask)="editTask($event)"
                [task]="task"
              ></app-task>
            }
          </div>
				</mat-tab>
			}
		</mat-tab-group>
	</div>
</div>

<button
	mat-mini-fab
	color="accent"
	class="task-board__add-button"
	(click)="editTask()"
>
	<mat-icon>add</mat-icon>
</button>
