<div class="content-wrapper">

    <button (click)="newTask()" mat-flat-button color="primary" class="add-button">
        <mat-icon>add</mat-icon> Add Task
    </button>

    <div class="container-wrapper">
        <div class="container">
            <h2>Backlog</h2>

            <mat-card><app-task-column [taskStatus]="TaskStatus.Todo"></app-task-column></mat-card>

        </div>

        <div class="container">
            <h2>In progress</h2>

            <mat-card><app-task-column [taskStatus]="TaskStatus.Inprogress"></app-task-column></mat-card>

        </div>

        <div class="container">
            <h2>Done</h2>

            <mat-card><app-task-column [taskStatus]="TaskStatus.Done"></app-task-column></mat-card>

        </div>
    </div>
</div>