.add-button {
    margin-left: 2rem;
}

.content-wrapper {
    width: 100%;
    margin: auto;
}

.container-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 50vh;
    margin: 0 2rem 2rem 0;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 1rem;
}

mat-card {
    flex: auto;
}