<form [formGroup]="newPasswordForm" (blur)="onTouched()" #form>
	<mat-form-field>
		<mat-label>New password</mat-label>
		<input
			type="password"
			matInput
			formControlName="newPassword"
			#newPasswordInput
		/>
		@if (newPasswordForm.get('newPassword')?.hasError('required')) {
			<mat-error>Fill in a new password</mat-error>
		}
		@if (newPasswordForm.get('newPassword')?.hasError('minlength')) {
			<mat-error>Password should be at least 8 characters long</mat-error>
		}
	</mat-form-field>

	<mat-form-field>
		<mat-label>Repeat password</mat-label>
		<input type="password" matInput formControlName="repeatPassword" />
		@if (newPasswordForm.get('repeatPassword')?.hasError('required')) {
			<mat-error>Repeat the same password</mat-error>
		}
		@if (
			newPasswordForm.get('repeatPassword')?.hasError('differentPasswords')
		) {
			<mat-error>Passwords are not the same</mat-error>
		}
	</mat-form-field>
</form>
