$simply-margins: (
	'extra-small': 4px,
	'small': 8px,
	'regular': 16px,
	'large': 32px,
	'extra-large': 64px,
);

$simply-radius: (
	'small': 4px,
	'regular': 8px,
);

$simply-width: (
	'extra-small': 300px,
	'small': 400px,
	'regular': 600px,
	'large': 900px,
	'extra-large': 1800px,
);
