@use 'sass:map';

$simply-margins: (
	'extra-small': 4px,
	'small': 8px,
	'regular': 16px,
	'large': 32px,
	'extra-large': 64px,
);

@function space($margin: 'regular') {
	$temp: map.get($simply-margins, $margin);

	@if $temp {
		@return $temp;
	} @else {
		@return map.get($simply-margins, 'regular');
	}
}

@mixin page-container {
	:host {
		flex: 1 1 auto;
		position: relative;
	}
	.page {
		&__container {
			position: relative;
			top: 20%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 space();
		}
		&__content {
			width: 100%;
			max-width: 600px;
		}
		&__container.is-phone-landscape {
			top: 5%;
		}
	}
}
