@use '@angular/material' as mat;
@use 'sass:map';

/*      Font variables      */
$simply-fonts: (
	'header': (
		'Nunito Sans',
		sans-serif,
	),
	'main': (
		Lato,
		sans-serif,
	),
);
$simply-font-weights: (
	'regular': 400,
	'medium': 500,
	'bold': 700,
	'extra-bold': 900,
);
$simply-font-size: (
	'small': 0.9rem,
	'regular': 1rem,
	'large': 1.25rem,
	'extra-large': 1.5rem,
	'display': 1.8rem,
	'display-large': 2.6rem,
	'display-extra-large': 3.4rem,
);
$simply-line-height: (
	'small': 1,
	'regular': 1.2,
	'large': 1.5,
);

/*      Small typography - for mobile          */
$simply-hero-header: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'header'),
	$font-weight: map.get($simply-font-weights, 'extra-bold'),
	$font-size: map.get($simply-font-size, 'display-large'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-hero-sub-header: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'regular'),
	$font-size: map.get($simply-font-size, 'display'),
	$line-height: map.get($simply-line-height, 'large'),
	$letter-spacing: normal,
);

$simply-h1: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'header'),
	$font-weight: map.get($simply-font-weights, 'bold'),
	$font-size: map.get($simply-font-size, 'extra-large'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-h2: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'header'),
	$font-weight: map.get($simply-font-weights, 'extra-bold'),
	$font-size: map.get($simply-font-size, 'large'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-h3: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'medium'),
	$font-size: map.get($simply-font-size, 'regular'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-body: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'regular'),
	$font-size: map.get($simply-font-size, 'regular'),
	$line-height: map.get($simply-line-height, 'large'),
	$letter-spacing: normal,
);

$simply-caption: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'medium'),
	$font-size: map.get($simply-font-size, 'small'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-button: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'medium'),
	$font-size: map.get($simply-font-size, 'regular'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-typography-config: mat.define-typography-config(
	$headline-1: $simply-hero-header,
	$headline-2: $simply-hero-sub-header,
	$headline-5: $simply-h1,
	$headline-6: $simply-h2,
	$subtitle-1: $simply-h3,
	$body-1: $simply-body,
	$body-2: $simply-body,
	$caption: $simply-button,
	$button: $simply-button,
);

/*      Medium to large screen typography          */
$medium-hero-header: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'header'),
	$font-weight: map.get($simply-font-weights, 'extra-bold'),
	$font-size: map.get($simply-font-size, 'display-extra-large'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$medium-hero-sub-header: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'regular'),
	$font-size: map.get($simply-font-size, 'display-large'),
	$line-height: map.get($simply-line-height, 'large'),
	$letter-spacing: normal,
);

$medium-h1: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'header'),
	$font-weight: map.get($simply-font-weights, 'bold'),
	$font-size: map.get($simply-font-size, 'display'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$medium-h2: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'header'),
	$font-weight: map.get($simply-font-weights, 'extra-bold'),
	$font-size: map.get($simply-font-size, 'extra-large'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$medium-h3: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'medium'),
	$font-size: map.get($simply-font-size, 'large'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$medium-body: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'regular'),
	$font-size: map.get($simply-font-size, 'regular'),
	$line-height: map.get($simply-line-height, 'large'),
	$letter-spacing: normal,
);

$medium-caption: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'medium'),
	$font-size: map.get($simply-font-size, 'regular'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$medium-button: mat.define-typography-level(
	$font-family: map.get($simply-fonts, 'main'),
	$font-weight: map.get($simply-font-weights, 'medium'),
	$font-size: map.get($simply-font-size, 'regular'),
	$line-height: map.get($simply-line-height, 'small'),
	$letter-spacing: normal,
);

$simply-medium-typography-config: mat.define-typography-config(
	$headline-1: $medium-hero-header,
	$headline-2: $medium-hero-sub-header,
	$headline-5: $medium-h1,
	$headline-6: $medium-h2,
	$subtitle-1: $medium-h3,
	$body-1: $medium-body,
	$body-2: $medium-body,
	$caption: $medium-button,
	$button: $medium-button,
);
